html {
    background: #e3e3e3;
}

body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 30px;
padding: 30px;
color: #242424;
border-top: 10px solid #242424;
background: #fff
}


h1 {
    font-size: 3em;
    margin: 0;
    display: flex;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px solid #ccc;
}


img {
    width: 750 px;
    height: auto
}

