html {
    background: #e3e3e3;
}


.container {
    display: flex;
  }
  
.table {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
  }
  

.form-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.form-column {
    flex: 1;
    padding: 10px;
  }


body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 30px;
padding: 30px;
color: #242424;
border-top: 10px solid #242424;
background: #fff
}


h1 {
    font-size: 3em;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

p {
    line-height: 1.4em;
    flex: 2;
    padding: 20px;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px solid #ccc;
}


img {
    width: 750 px;
    height: auto
}

